.App {

  margin: 100px;
  text-align: center;
  font-family: montserrat, sans-serif;
  
}
.head {
	padding: 50px;
	font-size: 32px;
	font-weight: 600;
	text-align: center;
}
 input {
	font-size: 18px;
	padding: 10px 15px;
	background-color: #FFF;
}
 input[type="text"] {
	border-radius: 0px 0px 0px 0px;
	flex: 1 1 100%;
}
.button {
  background-color: #5ab95d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
